repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - name: General file size limit
        id: check-added-large-files
        args: ["--maxkb=200"]
        # Allow specific files types to be larger with later test
        exclude: |
          (?x)(
              conda-lock\.yml|
              \.html|
              docs/img/launch-terminal-mac.png
          )$
      - name: Large file size limit
        id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: forbid-submodules
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: forbid-environments
        name: Check for included environments
        entry: Environment directories for conda, virtualenv, or renv should not be included in commits
        language: fail
        files: "(conda-meta|pyvenv.cfg|renv/library)"
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
