# Results should not be committed
/results/*
!/results/README.md

# Ignore the scratch directory (but keep it present)
/scratch/*
!/scratch/.gitkeep

# Ignore template-notebooks HTML files
template-notebooks/*html

# Don't ignore the test RDS file
!/benchmark-test-data/hm-6k_subset.rds
