# This is a workflow to run the cell-type-consensus module
#
# Analysis modules are run based on three triggers:
# - Manual trigger
# - On pull requests where code in the module has changed
# - As a reusable workflow called from a separate workflow which periodically runs all modules
#
# At initialization, only the manual trigger is active

name: Run cell-type-consensus analysis module
env:
  MODULE_PATH: analyses/cell-type-consensus
  AWS_DEFAULT_REGION: us-east-2

concurrency:
  # only one run per branch at a time
  group: "run_cell-type-consensus_${{ github.ref }}"
  cancel-in-progress: true

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - main
    paths:
      - analyses/cell-type-consensus/**
      - "!analyses/cell-type-consensus/Dockerfile"
      - "!analyses/cell-type-consensus/.dockerignore"
      - .github/workflows/run_cell-type-consensus.yml

jobs:
  run-module:
    if: github.repository_owner == 'AlexsLemonade'
    runs-on: ubuntu-latest
    container: public.ecr.aws/openscpca/cell-type-consensus:latest

    steps:
      - name: Install aws-cli 
        run: | 
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" 
          unzip -q awscliv2.zip 
          ./aws/install 

      - name: Checkout repo
        uses: actions/checkout@v4

      # Update this step as needed to download the desired data
      - name: Download test data
        run: ./download-data.py --test-data --format SCE

      - name: Run analysis module
        run: |
          cd ${MODULE_PATH}
          # run module script(s) here
