# This is a workflow to all of the analysis module workflows
#
# This workflow will run with the following triggers
# - Manual trigger
# - Periodic running on a timer

name: Run all analysis workflows
on:
  schedule: # run monthly on the 3rd (intended to run after docker images are built)
    - cron: "0 0 3 * *"
  workflow_dispatch:

jobs:
  # Modules to run
  # Note: only 20 modules can be run per workflow
  hello-R:
    uses: ./.github/workflows/run_hello-R.yml

  hello-python:
    uses: ./.github/workflows/run_hello-python.yml

  hello-clusters:
    uses: ./.github/workflows/run_hello-clusters.yml

  doublet-detection:
    uses: ./.github/workflows/run_doublet-detection.yml

  metacells:
    uses: ./.github/workflows/run_metacells.yml

  cell-type-ewings:
    uses: ./.github/workflows/run_cell-type-ewings.yml

  cell-type-wilms-06:
    uses: ./.github/workflows/run_cell-type-wilms-tumor-06.yml

  cell-type-wilms-14:
    uses: ./.github/workflows/run_cell-type-wilms-tumor-14.yml

  cell-type-ETP-ALL-03:
      uses: ./.github/workflows/run_cell-type-ETP-ALL-03.yml

  cell-type-nonETP-ALL-03:
      uses: ./.github/workflows/run_cell-type-nonETP-ALL-03.yml
  
  cell-type-neuroblastoma-04:
    uses: ./.github/workflows/run_cell-type-neuroblastoma-04.yml

  cell-type-scimilarity:
      uses: ./.github/workflows/run_cell-type-scimilarity.yml

  cell-type-consensus:
      uses: ./.github/workflows/run_cell-type-consensus.yml

  infercnv-consensus-cell-type:
      uses: ./.github/workflows/run_infercnv-consensus-cell-type.yml

  seurat-conversion:
      uses: ./.github/workflows/run_seurat-conversion.yml

      ## Add additional modules above this comment, and to the needs list below
  check-jobs:
    if: ${{ always() }}
    needs:
      - hello-R
      - hello-python
      - doublet-detection
      - cell-type-ewings
      - cell-type-wilms-06
      - cell-type-wilms-14
      - cell-type-ETP-ALL-03
      - cell-type-nonETP-ALL-03
      - cell-type-neuroblastoma-04
      - cell-type-scimilarity
      - cell-type-consensus
      - infercnv-consensus-cell-type
      - seurat-conversion
    runs-on: ubuntu-latest
    steps:
      - name: Checkout template file
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github/cron-issue-templates/all-modules-issue-template.md
          sparse-checkout-cone-mode: false

      - name: Post issue with results from running all modules
        if: contains(needs.*.result, 'failure')
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Analysis module failing in CI
          content-filepath: |
            .github/cron-issue-templates/all-modules-issue-template.md
          labels: |
            OpenScPCA admin
            ci

      - name: Check for failures or cancelled jobs
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: echo "Job failed" && exit 1
